@charset "utf-8";
/* CSS Document */
fieldset, img{ border:none;}
ul,li,form,input,span{ padding:0; margin:0; list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration:none;color:#fa7d3c;}
p{ margin:0; padding:0}
body { font-family:"微软雅黑";font-size: 12px;color:#333;margin: 0 auto;padding: 0px; background:#f5e9d3; }
.clear{ clear:both;}
.margin-top-10{margin-top: 10px;}
.margin-tb-10{margin: 10px 0;}
.margin-right-5{margin-right: 5px;}
.margin-lt-10{margin: 0 10px;}
.padding-tb-15{padding: 15px 0;}
.padding-lt-10{padding: 0 10px;}

/*头部*/
.box{width: 100%; background: url(../images/body_bg.jpg) no-repeat;}
.top{ width:100%;border-top: 2px solid #fa7d3c; height: 50px;background-color: rgba(255,255,255,0.9); position: fixed; z-index: 999;}
.top-mid{ width: 1260px; margin: 0 auto;}
.logo{ float: left; width: 130px; text-align: center; padding-top: 11px;}
.search{ width: 548px;  height: 28px; border: 1px solid #ccc; background: #f2f2f5; float: left; position: relative;}
#text{ width:515px ;padding-left: 10px; height: 28px; border: none; background: no-repeat;outline: none;}
#placeholder{ color: #999; position: absolute; top: 0; left: 10px; line-height: 28px;}
.search-btn{color: #696e78;}
.nav{ width: 320px; float: left; border-right: 1px solid #ccc; height: 25px; padding-left: 129px; }
.nav li{ float: left; width: 80px; text-align: center; line-height: 25px;}
.nav li a,.list li a{display: block;}
.nav li a:hover,.list li a:hover{ color: #fa7d3c;}
.iconfont.font-size-22{font-size: 22px; }
.orange{ color: #fa7d3c;}
.list{ width: 130px; float: left;}
.list li{ width:40px; float: left; text-align: center;}
#kong{ width: 100%; height: 52px;}
#mail,#setting{ position: relative;}
#mail-list,#setting-list{width: 120px;  background: #fff; position: absolute; border: 1px solid #ccc; right: -10px; display: none;}
#mail-list li,#setting-list li{ width: 120px; height: 30px; line-height: 30px; border-bottom: 1px solid #f2f2f2; text-align: left;}
#mail-list li a,#setting-list li a{display: block; width: 100px; padding: 0 10px; float: left;}
#mail-list li a:hover,#setting-list li a:hover{ background: #f2f2f2;}
/*中间代码*/
.withebg{width: 980px;  margin: 0 auto; background-color: rgba(208,187,171,0.6); padding: 15px 10px; position: relative; }
.mid-left{ width: 130px; float: left; position: fixed; }
.mid-left-top li{ height: 40px; line-height: 40px; border-bottom: 1px solid #cbb4a5;}
.mid-left-top li a,.mid-left-bot li a{font-size: 14px; color: #fff;  display: block;  padding-left: 10px;}
.mid-left-bot li a{font-size: 14px; color: #fff;  display: block; }
.mid-left-top li a:hover,.mid-left-bot li a:hover{ background-color: rgba(198,174,161,0.6);}
.set a{ color: #fff; text-align: right; margin: 13px 0; display: block;}
.mid-left-bot{ border-bottom:1px solid #cbb4a5; }
#mid-left-list{ height: 320px; overflow: hidden;}
.mid-left-bot li{height: 40px; line-height: 40px;}
#open{ width: 35px; height: 20px; border-radius: 3px; text-align: center; line-height: 20px; background: #c6ada0; color: #fff;  margin: 10px auto; cursor:pointer;}
.mid-md{ width: 600px; float: left; margin-left: 140px;}
.publish{ height: 145px; background: #fff; border-radius: 3px; padding: 10px;}
.publish-top{ height: 30px; line-height: 30px;}
.publish-name{float: left;}
#publish-list{ float: right;}
#publish-list a{ color: #fa7d3c;}
#number{float: right; display: none;}
#texta{ width: 99%; border: 1px solid #ccc;outline:none;-webkit-box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc;  box-shadow:inset 0 0 10px #ccc;  }
#textb{ width: 99%; border: 1px solid #fa7d3c; outline:none;display: none;}
.publish-bt li{ float: left; line-height: 35px; margin-right: 10px;}
.publish-bt li a{ display: block;}
.publish-bt li a:hover,#tab li a:hover{color: #fa7d3c;}
.green{color: #84c002;}
.blue-gray{ color: #737e95;}
.bule{ color: #5a8ce6;}
.btn{ float: right; width: 80px; height: 30px; margin-top: 3px; background: #ffc09f; border: none; color: #fff; border-radius: 3px; text-align: center; line-height: 30px;}
.btn a,.on a{ color: #fff; display: block;}
.on{background: #ff8140; float: right; width: 80px; height: 30px; margin-top: 3px; border: none; color: #fff; border-radius: 3px; text-align: center; line-height: 30px;}
#tab{ height: 35px; background: #fff; border-radius: 3px;}
#tab li{ width: 60px; float: left; line-height: 35px; text-align: center; cursor: pointer;}
#tab li.active{ background: #fa7d3c; color: #fff;}
#tab li.active:hover{color:#fff;}
#tab li:hover{color:#fa7d3c;}
.container{display: none;}
#content{ width:600px ; border-radius: 3px; background: #fff; padding: 20px 0;}
.content-tp{padding: 0 20px;}
.content-left{ width:50px; float: left; position: relative;}
.content-left img{ width: 50px; height: 50px; border-radius: 50%; cursor: pointer;}
#zl{ display: none; width: 368px; height: 218px; border: 3px solid #ccc; background: #fff; position: absolute; bottom:60px; left: -80px;}
.zl-tp img{ width: 368px; height:170px;border-radius: 0;}
.zl-bt{ text-align: center; margin-top: 5px;}
.zl-bt input{/*outline: none;*/ cursor:pointer;text-align: center; width: 60px; height: 25px; line-height: 25px; border: 1px solid #ccc; background: #fff;}
.content-right{ width: 500px; float: left; margin-left: 10px; line-height: 24px;}
.user{ font-size: 14px; font-weight: bold; line-height: 25px;}
#user-list{ float: right; position: relative;}
#urse-lista{ display: none; width: 100px; border: 1px solid #ccc; background: #fff; position: absolute; left: -70px;}
#urse-lista li{ height: 30px; line-height: 30px; text-align: center;}
#urse-lista li a{ font-weight: normal;}
.time{ color: #999; line-height: 25px;}
.content-right img{ margin-top: 10px;}
.content-bt{ border-top: 1px solid #f1f1f1; margin-top: 15px;}
.content-bt li a{ display: block; text-align:center; width: 149px; height: 22px; border-right: 1px solid #f1f1f1; float: left; margin-top: 10px;} 
.content-bt li a:hover{ color: #fa7d3c;}
.mid-right{ width: 230px; float: left;}
#movie,#exchange{ background: #fff; border-radius: 3px;}
.movie-title{ height: 50px; line-height:50px; padding:0 10px; font-size: 16px; border-bottom: 1px solid #f2f2f2; display: block;}
.movie-bt{height: 35px; display: block; text-align: center;  line-height: 35px;}
#move-list{ padding: 10px;}
#move-list li{ border-bottom: 1px solid #f2f2f2; line-height: 35px; cursor: pointer;}
.nub{ margin-top: 10px; width: 15px; height: 15px; background: #df3e3e; display: block; color: #fff; text-align: center; line-height: 15px; border-radius: 50%; float: left; margin-right: 10px;}
.score{color: #999; float: right;}
.zc{ display: none; height: 100px;  line-height: 25px; margin-bottom: 10px;cursor: pointer;}
.zc img{ float: left; margin-right: 10px;}
#change{ float: right; font-size: 12px;}
.ht{ padding: 10px; line-height: 30px;}
.ht ul{ display: none;}
.hui{ color: #999; float: right;}



























































.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}