@charset "utf-8";
/* CSS Document */
body,html{ width: 100%; height: 100%;}
*{ margin:0px; padding: 0px;}
fieldset, img{ border:none;}
ul,li,form,input,span{ padding:0; margin:0; list-style:none;}
a{text-decoration:none;color: #555;}
a:hover{text-decoration:none;color:#333;}
p{ margin:0; padding:0}
body { font-family:"微软雅黑";font-size: 12px;color:#333;margin: 0 auto;padding: 0px; background: url("../img/bg.jpg") no-repeat; background-size: cover; }
.clear{ clear:both;}
/*登陆*/
#box{width:430px; height:330px; position: absolute; left: 50%; top: 50%; margin-left: -215px; margin-top: -165px; }
.box-top{width:430px;height:180px;background: url(../img/qq.png) no-repeat;}
#close{width: 30px; height: 30px; float: right; cursor: pointer; text-align: center; line-height: 35px; }
#close:hover{ background: #d44027; border-radius:0 5px 0 0}
.box-bot{ background: #ebf2f9; height: 146px;border-radius: 0 0 5px 5px; width: 346px; padding: 12px 42px}
#head-img{ width: 80px; height: 100px; float: left; margin-right: 12px; text-align: center}
#head-img img{ width:80px; height:80px; border-radius: 5px;}
#change{ cursor: pointer;}
#login{width: 254px; float: left;position: relative}
#login input{ width: 244px; height: 30px; border: 1px solid #ccc; margin: 5px 0; padding: 0 5px}
#use{ position: absolute; left: 5px; top: 14px; color: #cccccc;}
#pass{ position: absolute; left: 5px; top: 55px; color: #cccccc;}
#login-btn{ width: 120px; height: 35px;  cursor:pointer; background: #09a3dc; color: #FFF; line-height: 35px; text-align: center;border: none; border-radius: 5px; margin-top: 5px}
#join-btn{ width: 120px; height: 35px;  cursor:pointer; background: #09a3dc; color: #FFF; line-height: 35px; text-align: center;border: none; border-radius: 5px; margin-top: 5px; margin-right: 10px;}
/*页面*/
#main{ width: 790px; height: 520px; position: absolute; top:50%; left: 50%; margin-left: -395px; margin-top: -260px; background: #eee; border-radius: 5px; display: none;}
.main-left{ width: 200px; float: left; background: #2e3238; height: 500px; border-radius: 5px 0 0 5px; padding: 10px; overflow: hidden;}
.main-right{ width: 570px; float: left;height: 520px;}
/*left*/
.mine{ height: 35px; border-bottom: 1px solid #282b31; padding-bottom: 5px;color: #fff; line-height: 35px}
.mine img{ width: 35px; height: 35px; border-radius: 3px; float: left; margin-right: 5px}
#mine-close img{ float: right; width: 16px; height: 16px; margin-top: 5px; cursor: pointer;}
#user-list{ margin-top: 10px;overflow: hidden; position: relative;}
#ul1{ width:190px; height: 449px; position: absolute;left:0;top:0;}
#ul1 li{ height: 40px; padding-bottom: 10px; line-height: 40px; color: #fff; border-bottom: 1px solid #282b31; margin-bottom: 5px }
#ul1 li img{ width: 40px; height: 40px; border-radius: 3px; float: left; margin-right: 5px;}
#list-rt{ width: 10px; height:449px; float: right; background: #09a3dc; position: relative}
#slider{ width: 10px; height: 15px; background: #ccc;position: absolute; left: 0; top: 0;}
/*right*/
.main-rt-tp{ height: 39px; border-bottom: 1px solid #ccc; line-height: 39px; text-align: center}
#content{ padding: 15px; height: 300px; border-bottom: 1px solid #ccc; overflow: hidden; position: relative;}
#content-list{width: 500px; height: 300px; position: absolute; left: 15px; top: 0;}
#content-list li{border-bottom: 1px dotted #ccc; line-height: 24px; padding-bottom: 5px; margin: 5px 0; }
#cunt{ width: 10px; height: 300px; float: right; background: #09a3dc; position: relative;}
#cunt-slider{ width: 10px; height: 15px; background: #ccc;position: absolute; left: 0; top: 0;}
#main-rt-bt{ padding: 10px 15px; height:130px;}
#text{ width: 97%; height: 70px; border: none; border-radius: 5px; padding: 10px}
#ent{ float: right; width: 90px; height: 30px; background: #fff; border-radius: 5px;  text-align: center; line-height: 30px; border:1px solid #555; margin-top: 10px; cursor: pointer;}



/*案例内页*/
.about_top{ width: 100%; height: 60px; background: #2a2a2a;}
.mian_top{ width: 1200px; margin: 0 auto;}
.mian_top img{ margin-top: 10px; float: left}
.ny_nav{ float: right;}
.ny_nav li{ width: 100px; height: 60px; line-height: 60px; text-align: center; float: left}
.ny_nav li a{ color: #fff; font-size: 14px;}
.mian{ width: 1200px; margin: 50px auto;}